[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
ipython = "*"
pytest = "*"
malpar = {path = ".", editable = true}
monetdblite = {path = "/home/kutsurak/work/monet/sources/mdbl-repos/MonetDBLite-Python/dist/monetdblite-0.7.0.dev9-cp36-cp36m-linux_x86_64.whl"}

[dev-packages]

[requires]
python_version = "3.6"
