[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
ipython = "*"
pytest = "*"
malpar = {editable = true, path = "."}
monetdblite = {editable = true, path = "./../../mdbl-repos/MonetDBLite-Python"}

[dev-packages]

[requires]
python_version = "3.6"
