[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mal_analytics = {path = ".",editable = true}
monetdblite = ">=0.6.3"

[dev-packages]
ipython = "*"
pytest = "*"
tox = "*"
sphinx = "*"
pytest-cov = "*"
twine = "*"
matplotlib = "*"
numpy = "*"
pudb = "*"

[requires]
python_version = "3.7"
